<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSEstructura.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSEstructura.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <CSEstructura.My.MySettings>
      <setting name="DBConnection_AttachDBFilename" serializeAs="String">
        <value>C:\Data\Cardoner Sistemas\Development\CS-Estructura\Database\CSEstructura.mdf</value>
      </setting>
    </CSEstructura.My.MySettings>
  </userSettings>
  <applicationSettings>
    <CSEstructura.My.MySettings>
      <setting name="EnableVisualStyles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimumSplashScreenDisplaySeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DBConnection_Datasource" serializeAs="String">
        <value>(LocalDB)\MSSQLLocalDB</value>
      </setting>
      <setting name="DBConnection_Database" serializeAs="String">
        <value />
      </setting>
      <setting name="UseCustomDialogForErrorMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SingleInstanceApplication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MDIFormMargin" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="DBConnection_UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="DBConnection_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="DBConnection_Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
    </CSEstructura.My.MySettings>
  </applicationSettings>
</configuration>
