<DatabaseConfig>
  <Datasource>(LocalDB)\MSSQLLocalDB</Datasource>
  <Database></Database>
  <AttachDBFilename>C:\Data\Cardoner Sistemas\Development\CS-Estructura\Database\CSEstructura.mdf</AttachDBFilename>
  <UserId></UserId>
  <Password></Password>
  <Provider>System.Data.SqlClient</Provider>
</DatabaseConfig>